/* @import "tailwindcss"; */

@source "../views/**/*.blade.php";
@source "../../src/**/*.php";

@layer components {
    .cp-modal-open {
        overflow: hidden;
    }

    .cp-modal-shape-default {
        border-radius: 0.5rem;
    }

    .cp-modal-shape-drawer-left {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    .cp-modal-shape-drawer-right {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}
